*{
    margin:0;
    padding:0;
  }
  body{
    font-family: 'Young Serif', serif;
  }
  .container{
    padding:50px;
  }
  .section-one{
    background-color: black;
    color:white;
    padding:20px;
  }
  .section-one__contact{
    background-color:red;
    color:white;
    text-decoration: none;
    padding:5px 10px;
    display:inline-block;
    margin-top: 20px;;
  }
  .section-one__name{
    font-size:50px;
  }
  .section-one__role{
    font-size:20px;
    margin-top:20px
  }
  .section-two,.section-three,.section-four,.section-five{
        margin-top: 20px;
  }
  .section-two__desc,.section-three__desc,.section-four__desc,.section-five__desc{
        margin-top: 10px;
  }
  .section-five{
    background-color: black;
    color:white;
  }
  .section-five__title a{
    color:skyblue
  }
  .section-three li,.section-four li{
    list-style:none;
  }
  .section-three{
    background-color: #6462fd;
    color:black;
    padding: 20px;
    height:200px;
    border-radius: 10px;
    display:inline-block;
    vertical-align:top;
  }
  .section-four{
    background-color:#fe7517;
    color:black;
    padding: 20px;
    height:200px;
    display:inline-block;
    border-radius: 10px;
    vertical-align: top;
  }
  .c1{
    margin: 20px;
  }
  .c1_input{
        margin-top: 10px;
        padding:10px;
        border:none;
        border-bottom: 1px solid black;
  }
  .c1_submit{
    margin-top:20px;
    padding:10px 20px;
    background-color: red;
    color:black;
    border:none;
  }